<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ikyou.domain.business.dao.TCarsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tCarsResultMap" type="cn.ikyou.domain.business.entity.TCars">
        <id column="id" property="id"/>
        <result column="business_brand" property="businessBrand"/>
        <result column="license_car" property="licenseCar"/>
        <result column="org_id" property="orgId"/>
        <result column="create_id" property="createId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_id" property="updateId"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

</mapper>
